.logo {
    width: 80px;
}

.menu {
    background: linear-gradient(to right, #3C763D, #C1440E) !important;
}

.botaoProcurar {
    background-color: black;
}

.banners {
    height: auto;
    max-height: 90vh;
    
}

